<section class="mb-14 observe about">
  <h2 class="text-xl md:text-3xl font-semibold mb-2">About me</h2>
  <div class="text-gray-700 space-y-1">
    <p>
      My name is <span class="font-semibold">Oktavian Yoga Syahputra</span>. I
      was born in Sangasanga sub-district, Kutai Kartanegara district, East
      Kalimantan province, Indonesia 🇮🇩
    </p>
    <p>
      I'm always be a kind of <span class="font-semibold"
        >person who like to learn anything</span
      >, mostly
      <span class="font-semibold">learn by doing</span>.
    </p>
    <p>
      For example, when I first learned web proramming, I didn't code with just <span
        class="line-through">HTML, CSS, Javascript</span
      >. I went straight up using <a
        target="_blank"
        href="https://gohugo.io/"
        class="font-semibold underline">Hugo</a
      > at that time
    </p>
    <p>
      Right now, I'm really deep dive into <span class="font-semibold"
        >Javascript Ecosystem</span
      > on all platform like Web & Mobile, but also learning all the libraries, frameworks
      and all of dramas it has.
    </p>
  </div>
</section>
