---
import Hktekno from "~/components/icon/hktekno.astro";
import Pertamina from "~/components/icon/pertamina.astro";
import Unmul from "~/components/icon/unmul.astro";
import First from "~/components/icon/first.astro";
import Second from "~/components/icon/second.astro";
---

<section class="mb-14">
  <h2 class="observe experience mb-2 text-xl font-semibold md:text-3xl">
    Experience
  </h2>
  <div class="space-y-1 pl-2.5 text-gray-700">
    <ol class="relative border-s border-gray-200 dark:border-gray-700">
      <li class="observe hktekno ms-6 mb-10">
        <span
          class="absolute -start-2.5 flex h-5 w-5 translate-y-1 items-center justify-center rounded-full ring-8 ring-white md:-start-3.5 md:h-7 md:w-7"
        >
          <Hktekno />
        </span>
        <p class="mb-1 flex flex-wrap items-center text-base md:text-lg">
          <span class="font-semibold text-gray-900">Software Developer</span>
          <span class="mx-1">at</span>
          <a
            href="https://hktekno.com/"
            target="_blank"
            class="font-semibold text-sky-700 underline">HK Teknologi</a
          >
        </p>
        <time
          class="mb-2 block text-sm leading-none font-normal text-gray-600 md:text-base"
          >October 2022 - Present</time
        >
        <ul class="list-inside list-disc space-y-1">
          <li>
            Frontend Developer of <a
              target="_blank"
              class="font-medium underline"
              href="https://smexpo.pertamina.com/">SMEXPO Pertamina</a
            > 2023 using <a
              target="_blank"
              href="https://laravel.com/"
              class="font-medium underline">Laravel</a
            > and <a
              target="_blank"
              class="font-medium underline"
              href="https://v3.tailwindcss.com/">Tailwind CSS</a
            >
          </li>
          <li>
            Built an inventory desktop app for <a
              href="https://maps.app.goo.gl/veB3N23ABTgysm8fA"
              target="_blank"
              class="font-medium underline">PT. Mutiara Etam Coal</a
            > using <a
              href="https://electron-vite.org/"
              target="_blank"
              class="font-medium underline">Electron + React + Tailwindcss</a
            >.
          </li>
          <li>
            Made an internal office Task Management App called weekcan using <a
              href="https://nextjs.org/"
              target="_blank"
              class="font-medium underline">NextJS</a
            > for the web and <a
              href="https://expo.dev/"
              target="_blank"
              class="font-medium underline">React Native</a
            > for the mobile.
          </li>
          <li>
            Mobile developer of Bazzar Store app using <a
              href="https://expo.dev/"
              target="_blank"
              class="font-medium underline">React Native</a
            >.
          </li>
          <li>
            Full Stack Developer of Sosmed Sentiment Analysis app using <a
              href="https://reactrouter.com/home"
              target="_blank"
              class="font-medium underline">React Router 7</a
            > for the frontend and <a
              href="https://adonisjs.com"
              target="_blank"
              class="font-medium underline">AdonisJS</a
            > for the backend.
          </li>
        </ul>
      </li>

      <li class="ms-6 mb-10">
        <span
          class="absolute -start-2.5 flex h-5 w-5 translate-y-1 items-center justify-center rounded-full ring-8 ring-white md:-start-3.5 md:h-7 md:w-7"
        >
          <First />
        </span>
        <p class="mb-1 flex flex-wrap items-center text-base md:text-lg">
          <span class="font-semibold text-gray-900">1st place</span>
          <span class="mx-1">of</span>
          <a
            href="https://www.instagram.com/p/C4EmZhJvaiC/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
            target="_blank"
            class="font-semibold text-yellow-700 underline"
            >IOT & Smart City Competition in Balikpapan</a
          >
        </p>

        <time class="mb-2 block text-sm leading-none font-normal text-gray-600"
          >March 2024</time
        >
        <p class="">
          We built an integrated tranportation system for Balikpapan City called <b
            >Balikpapan Hub Transportation (BAHTRA)</b
          >.
          <ul class="list-inside list-disc">
            <li>
              We made a dashboard admin to make routes for the driver and also
              for manage drivers and users.
            </li>
            <li>
              We made an app for the driver to show the QR code for payment.
            </li>
            <li>
              We also made an app for the user to see the available routes and
              for payment.
            </li>
          </ul>
        </p>
      </li>

      <li class="ms-6 mb-10">
        <span
          class="absolute -start-2.5 flex h-5 w-5 translate-y-1 items-center justify-center rounded-full ring-8 ring-white md:-start-3.5 md:h-7 md:w-7"
        >
          <Second />
        </span>
        <p class="mb-1 flex flex-wrap items-center text-base md:text-lg">
          <span class="font-semibold text-gray-900">2nd place</span>
          <span class="mx-1">of</span>
          <a
            href="https://www.instagram.com/p/C0IgQTmv6ux/?utm_source=ig_web_button_share_sheet&igsh=MzRlODBiNWFlZA=="
            target="_blank"
            class="font-semibold text-gray-700 underline"
            >Hackathon Diskominfo Kukar</a
          >
        </p>

        <time class="mb-2 block text-sm leading-none font-normal text-gray-600"
          >November 2023</time
        >
        <p class="">
          We built a prototype of smart parking area, with mobile payment and
          IOT via MQTT protocol
        </p>
      </li>

      <li class="observe unmul ms-6 mb-10">
        <span
          class="absolute -start-2.5 flex h-5 w-5 translate-y-1 items-center justify-center rounded-full ring-8 ring-white md:-start-3.5 md:h-7 md:w-7"
        >
          <Unmul />
        </span>
        <p class="mb-1 flex flex-wrap items-center text-base md:text-lg">
          <span class="font-semibold text-gray-900">Laboratory Assistant</span>
          <span class="mx-1">at</span>
          <a
            href="https://informatika.ft.unmul.ac.id/"
            target="_blank"
            class="font-semibold text-green-700 underline"
            >Mulawarman University</a
          >
        </p>

        <time class="mb-2 block text-sm leading-none font-normal text-gray-600"
          >January 2022 - Mei 2023</time
        >

        <p class="">
          As a Laboratory Assisstant, I teach the techincal thing of some
          subject.
          <ul class="list-inside list-disc">
            <li>
              On Mobile Programming Subject, I taught the students about Flutter
            </li>
            <li>
              On Framework Based Programming Subject, I taught the students
              about Laravel
            </li>
            <li>
              On Operating System Subject, I taught the students about Linux
            </li>
          </ul>
        </p>
      </li>

      <li class="observe pertamina ms-6">
        <span
          class="absolute -start-2.5 flex h-5 w-5 translate-y-1 items-center justify-center rounded-full ring-8 ring-white md:-start-3.5 md:h-7 md:w-7"
        >
          <Pertamina />
        </span>
        <p class="mb-1 flex flex-wrap items-center text-base md:text-lg">
          <span class="font-semibold text-gray-900">Intern IT Support</span>
          <span class="mx-1">at</span>
          <a
            href="https://maps.app.goo.gl/ByFdN3hxGEezcLix8"
            target="_blank"
            class="font-semibold text-red-600 underline"
            >Pertamina EP Sangasanga</a
          >
        </p>
        <time class="mb-2 block text-sm leading-none font-normal text-gray-600"
          >September 2022</time
        >
        <p class="">
          Learn all of things that IT Support do, like manage a server, CCTV,
          radio, and many more.
        </p>
      </li>
    </ol>
  </div>
</section>
